---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$footer-background-color: #d3d2d2 !default;
$border-color: #3d3c3abe !default;
$muted-text-color: #3b3a37 !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

